#landing-page-wrapper
  background-image: image_url('fitness.png')
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  min-height: 100%
