#landing-page-wrapper
  background-image: image_url('landing_image.png')
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  min-height: 100%
  position: relative
  .login-form-wrapper
    padding: 20px
    background: rgba(239,239,239, 0.55)
    border: none
    position: absolute
    bottom: 0
    right: 0
    display: block
    width: 250px
    height: 400px

    form

legend
  font-family: 'Nothing You Could Do'
  background: red
fieldset.legend
  background: rgba(239,239,239, 0.5)
input:-webkit-autofill
  background-color: white !important



