ul.problems
  list-style: none
  margin: 0
.problem-image-container
  height: 400px
  width: 400px
  position: relative
  background-color: red
.problem-image
  height: 400px
  width: 400px
  background-size: cover !important
  display: flex
  align-items: center
  justify-content: center
  text-align: center

.problem-text
  font-size: 35px
  
