ul.problems
  list-style: none
  margin: 0
.problem-image-container
  height: 400px
  width: 400px
  position: relative
  background-color: red
.problem-image
  height: 400px
  width: 400px
  background-size: cover !important
  display: flex
  align-items: center
  justify-content: center
  text-align: center
.problem-text
  font-size: 35px
  color: white

ul.grid
  margin: 0
  list-style-type: none
  .grid-item 
    min-height: 200px
    box-sizing: border-box
    border: 5px solid #ccc
    padding: 0
    .inner-problem 
      height: 200px
      width: 100%
      box-sizing: border-box
      border: 5px solid #FFF 
      text-align: center
      justify-content: center
      background-size: cover !important
      display: flex
      align-items: center
      ul 
        list-style-type: none
        margin: 0
        padding: 0
    a 
      color: #fff
      font-family: "Nothing You Could Do"
      -webkit-text-shadow: 0px 1px 0 rgba(0,0,0,0.8)
      -moz-text-shadow: 0px 1px 0 rgba(0,0,0,0.8)
      text-shadow: 0px 1px 0 rgba(0,0,0,0.8)

rect 
  fill: #ccc

div.medium-6.columns 
  p
    font-family: "Nothing You Could Do"

