ul.problems
  list-style: none
  margin: 0
.problem-image-container
  height: 400px
  width: 400px
  position: relative
  background-color: red
.problem-image
  height: 400px
  width: 400px
  background-size: cover !important
  display: flex
  align-items: center
  justify-content: center
  text-align: center
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75)
  -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75)
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75)
.problem-text
  font-family: 'Nothing You Could Do'
  font-size: 30px
  color: #fff 
  -webkit-text-shadow: 0px 1px 0 rgba(0,0,0,0.8)
  -moz-text-shadow: 0px 1px 0 rgba(0,0,0,0.8)
  text-shadow: 0px 1px 0 rgba(0,0,0,0.8)
  article
    height: 200px
    padding: 10px
    a.problem-author
      margin-top: 25px
      display: block
      font-size: 20px
    a.problem-content
      height: 130px
      overflow: hidden
      display: block
      text-overflow: ellipsis
      font-size: 20px
      top-margin: 30px
      color: white
      word-wrap: break-word
      font-family: 'Nothing You Could Do'
rect 
  fill: #ccc
div.medium-6.columns 
  p
    font-family: 'Raleway', sans-serif
    font-size: 15px
    margin-top: 20px
text
  font-family: 'Raleway', sans-serif
li
  font-family: 'Raleway', sans-serif
.problem
  word-wrap: break-word
  max-height: 300px






