#user_profile
  background-color: #fff
  overflow: hidden
  border-bottom: 1px solid rgba(0,0,0,0.4)
  .centerpiece
    margin: 0 auto
    width: 300px
    text-align: center
#user_profile_content
  background-color: #ccc
  padding-top: 25px